.link {
    height: 50px;
    width: 200px;
    align-items: center;
    border-style: solid;
    border-width: thin;
}

.align-items-start {
    height: 150px;
    
}

.nav-link {
    font-size: 20px;
    font-style: normal;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #FFFFFF;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 20px solid #FFFFFF;
}

.header-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.link {
    text-align: center;
    text-justify: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    background-color: none;
    opacity: 50%;
}

.carousel-inner {
    display: flex;
    
    
}

.container-lg {
    padding: 50px,0px;
}

h1 {
    text-align: center; 
}

h2 {
    text-align: center;
    font-size: 40px;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

h3 {
    font-size: 18px;
    text-align: center; 
}

.bgPicture{
    background-image: url(../Images/Care_video.gif);
    height: 500px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width:100%
}